/* Stiamo partendo dalla versione  MOBILE  quindi useremo la min-width e avremo in successione gli step  TABLET  e  DESKTOP  */

/*--------------------
      TABLET
---------------------*/ 

@media screen and (min-width:576px) {

  /* demo  */
  .demo p,
  .demo a {
    font-size: 18px;
  }

  .demo .cards {
    flex-flow: row wrap;
  }

  .demo .card {
    width: calc( ( 100% - 2*var(--test-gap) ) * 1/3 ) ;
  }

  .demo .card:first-child {
    width: calc((100% - 2*var(--test-gap)) * 2/3 + var(--test-gap));
  }





  
  /* testimonials  */
  /* .testimonials .card {
    flex-direction: row;
    height: 200px;
  }

  .testimonials .card .profile-pic {
    margin: 25px;
  } */
  

  /* benefits  */
  /* .benefits .cards {
    flex-flow: row wrap;
  }

  .benefits .card {
    background-color: white;
    height: 300px;  
    width: calc(50% - 25px);
  } */
  
  /* about-us  */
  /* .about-us .col {
    flex-direction: row;
  }

  .about-us .text {
    width: 60%;
  }

  .about-us .linkedin {
    width: 40%;
  } */


}




/*--------------------
      DESKTOP
---------------------*/ 

@media screen and (min-width:992px) {
  
  /* header  */
  header .menu-icon {
    display: none;
  }

  header .hamburger  {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  /* demo  */
  .demo .card:first-child {
    flex-direction: row;
  }

  .demo .card:first-child > * {
    width: 50%;
  }

  .demo .card:first-child .image {
    height: auto;
  }

  .demo .card:first-child .image img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





  /* app  */
  /* .app .container {
    display: flex;
    flex-direction: row;
  }

  .app .container > * {
    width: 50%;
  } */

  /* benefits */
  /* .benefits .card {
    width: calc((100% - 100px) * 1/3);
  } */

}
