/* --------------- 
info utili tipo colore, ecc.

-------------------*/

/* ---------------
    VARIABILI
----------------*/

:root {
  --color-box: #e0ffff; /**/
  --color-element: #f08080; /**/
  --color-darkblue: #0084fd;
  --color-lightblue: #b5ddff;
  --color-violet: #9792e4;
  --color-black: #333333;
  --color-yellow: #fdc15f;
}

/* ---------------
    GENERAL
----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.cross-centered {
  align-items: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

/**/
.debug {
  /* border: 1px dotted brown; */
  min-height: 100px;
  background-color: var(--color-element);
}

/* ---------------
    HEADER
----------------*/

header {
  background-color: var(--color-darkblue);
  color: white;
}

.topbar {
  height: 100px;
  justify-content: center;
}

.topbar-content {
  justify-content: space-between;
}


/* ---------------
    MAIN
----------------*/








/* ---------------
    FOOTER
----------------*/

footer {
  background-color: var(--color-black);
  color: white;
  padding: 50px 0;
}

footer .bottombar {
  gap: 50px;
}




