/* --------------- 
info utili tipo colore, ecc.

-------------------*/

/* ---------------
    VARIABILI
----------------*/

:root {
  --color-box: #e0ffff; /**/
  --color-element: #f08080; /**/
}

/* ---------------
    GENERAL
----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.centered {
  justify-content: center;
  align-items: center;
}

/**/
.debug {
  /* border: 1px dotted brown; */
  min-height: 100px;
  background-color: var(--color-element);
}

/* ---------------
    HEADER
----------------*/






/* ---------------
    MAIN
----------------*/








/* ---------------
    FOOTER
----------------*/






