/* Variables */

:root {
  --color-box: #e0ffff; /**/
  --color-element: #f08080; /**/
  --color-darkblue: #0084fd;
  --color-lightblue: #b5ddff;
  --color-violet: #9792e4;
  --color-black: #333333;
  --color-yellow: #fdc15f;
  --color-grey: #5a6e7f;
  --test-gap: 25px;
}

/* Utilities */

.container {
  width: calc(100vw - 60px);
  max-width: 10800px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
} 

.centered {
  justify-content: center;
  align-items: center;
}

